[submodule "External/AudioThing"]
	path = External/AudioThing
	url = https://github.com/AdrUlb/AudioThing
[submodule "External/WindowThing"]
	path = External/WindowThing
	url = https://github.com/AdrUlb/WindowThing
